#!/bin/bash
## log-cleanup.cronjob.sh
# ---------------------------------------- #
# This file is managed by ansible.
# template: {{ template_path | quote }}
# destpath: {{ template_destpath | quote }}
# host: {{ template_host | quote }}
# commit: {{ lookup('pipe', 'git rev-parse --verify HEAD') | quote }}
# ---------------------------------------- #
## Script to perform automated pruning of old seaweedfs log files.
## (Might be run by something other than cron)
## -FOOdepth 2 -> (/var/log/)SERVICE.1/FILE.2

find -P \
	{{ logdir | quote }} \
	-mindepth 1 \
	-maxdepth 4 \
	-type f \
	-cmin +{{ max_logfile_age_cmin | quote }} \
	-mtime +{{ max_logfile_age_mtime | quote }} \
	-name '*.log.*' \
	-print \
	-delete
